<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36609930837-vn1fklru7l87rm8i6ar6jk0mccao6g70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36609930837-vn1fklru7l87rm8i6ar6jk0mccao6g70</string>
	<key>API_KEY</key>
	<string>AIzaSyDT7jTfkHgJtD43KW1wbvUXUtiBCa8cHf4</string>
	<key>GCM_SENDER_ID</key>
	<string>36609930837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MiDiART.OnlineShop-M1</string>
	<key>PROJECT_ID</key>
	<string>market-c2873</string>
	<key>STORAGE_BUCKET</key>
	<string>market-c2873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36609930837:ios:2920570afbe18d48eb86dc</string>
</dict>
</plist>